<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceMash</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        img {
            width: 300px; /* Adjust image size */
            height: auto;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Who's Better?</h1>
    <div id="images">
        {% for image in images %}
            <div class="image">
                <img src="{{ url_for('static', filename='images/' + image) }}" alt="Image">
                <p>Vote(s): <span class="vote-count">{{ votes[image] }}</span></p>
                <button class="vote-btn" data-image="{{ image }}">Vote</button>
            </div>
        {% endfor %}
    </div>

    <script>
        const voteButtons = document.querySelectorAll('.vote-btn');

        voteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const imageUrl = this.getAttribute('data-image');
                fetch('/vote', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ image: imageUrl }),
                })
                .then(response => response.json())
                .then(data => {
                    // Update vote counts
                    document.querySelector('.vote-count[data-image="' + imageUrl + '"]').textContent = data.votes[imageUrl];
                });
            });
        });
    </script>
</body>
</html>
